.container {
}

.title {
  margin: 50px 0px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
}

.category.style {
  background-color: rgb(178, 227, 255);
}

.category.fashion {
  background-color: rgb(171, 219, 217);
}

.category.food {
  background-color: rgb(255, 188, 246);
}
.category.travel {
  background-color: rgb(255, 202, 202);
}
.category.culture {
  background-color: rgb(255, 216, 188);
}
.category.coding {
  background-color: rgb(194, 192, 255);
}

.image {
  /* border-radius: 50%; */
  font-size: 30px;
}

@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}

@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
