.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
}

.categoryItem.style {
  background-color: rgb(178, 227, 255);
}
.categoryItem.travel {
  background-color: rgb(255, 142, 142);
}
.categoryItem.culture {
  background-color: rgb(255, 164, 99);
}
.categoryItem.food {
  background-color: rgb(254, 126, 237);
}
.categoryItem.fashion {
  background-color: rgb(171, 219, 217);
}
.categoryItem.coding {
  background-color: rgb(194, 192, 255);
}
