.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 16px;
  background-color: crimson;
  color: white;
  border-radius: 30px;
}

.button:disabled {
  background-color: rgb(175, 62, 85);
  cursor: not-allowed;
}
